.background {
  background: center no-repeat url("https://i.imgur.com/PfOZWby.png");
}

.logo {
  background-image: url("https://i.imgur.com/CKauTOb.png");
}

.progressBar {
  background-color: rgb(255, 255, 255);
}